#Ignore the following files

#binary:
bin/ecumanager
ecumanager

#backups:
*~

#mocs
moc_*

#objects:
*.o

#my config file
qt4application.pro.*

#automatically created files
/src/qrc_application.cpp
/Makefile
/src/Makefile
*.log

#Ignore the following directories
screenshots/
.pc/
